
@{
    ViewBag.Title = "PageError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h2 align="center">Sayfa bulunamadı...</h2>
<div align="center">
    Hata Kodu : @Response.StatusCode
</div>
<br />
<br />
<div align="center">
    <a href="/Home/Index"><button class="booking_btn btn theme-element theme-element--accent vertical-center">Anasayfaya Dön</button></a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />